 <html ng-app="guessApp">

<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css"></link>
<body>

	<div id="header">
		<div id="header-inner">
			<h1>Giskaðu á nafn dóttur minnar</h1>
		</div>
	</div>

	<div id="content" ng-controller="guessController">

		<h3>Hún er kröftug og sterk, falleg og góð, hvert er nafn hennar?</h3>

		<form ng-submit="guessName()">
			<p>
				Nafnið þitt: <input type="text" ng-model="userName" /> 
				Þín ágiskun({{numberOfAttemts}}): <input type="text" ng-model="guessedName" /> 
				<input type="submit" value="Giska" />
			<p/>
		</form>

		<p><span id="result" ng-bind="result"></span></p>

		<div id"imageContainer">
			<img id="image1" src="egibilstol.jpg" />
			<img id="image2" src="egsofandi.jpg" />
			<img id="image3" src="egogmamma.jpg" />
		</div>
	</div>

	<script src="guessApp.js"></script>
	<script src="guessController.js"></script>

</body>
</html>